# try to use local executable first
template: |-
  {{- $cmd := include (printf "tools.%s.local" matrix.tool) . -}}
  {{- if not $cmd -}}
    {{- $cmd = include (printf "tools.%s.ctr" matrix.tool) . -}}
  {{- end -}}
  {{- $cmd -}}

include:
- text@tmpl|presets?str: |-
    {{- path.Join "tools" matrix.tool "local.yml" -}}
- text@tmpl|presets?str: |-
    {{- path.Join "tools" matrix.tool "ctr.yml" -}}

variables:
  version@tmpl?str: |-
    {{- matrix.version | default "" -}}
  workdir@tmpl?str: |-
    {{- matrix.workdir | default "" -}}
  config@tmpl?str: |-
    {{- matrix.config | default "" -}}
  args@tmpl?[]obj: |-
    {{- matrix.args | default "" -}}
  packages@tmpl?[]obj: |-
    {{- matrix.packages | default "" -}}
  files@tmpl?[]obj: |-
    {{- matrix.files | default "" -}}
