# try to use local executable first
template: |-
  {{- $cmd := include (printf "tools.%s.local" matrix.tool) . -}}
  {{- if not $cmd -}}
    {{- $cmd = include (printf "tools.%s.ctr" matrix.tool) . -}}
  {{- end -}}
  {{- $cmd -}}

include:
- text@tlang|presets?str: path.Join "tools" matrix.tool "local.tmpl"
- text@tlang|presets?str: path.Join "tools" matrix.tool "ctr.tmpl"

variables:
  version@tlang?str: matrix.version | default ""
  workdir@tlang?str: matrix.workdir | default ""
  config@tlang?str: matrix.config | default ""
  args@tlang?[]obj: matrix.args | default ""
  packages@tlang?[]obj: matrix.packages | default ""
  files@tlang?[]obj: matrix.files | default ""
