name: images

# yamllint disable-line rule:truthy
on:
  workflow_call:
    inputs:
      fail-fast:
        required: false
        type: boolean
        default: false

      matrix:
        required: false
        type: string
        default: |-
          {
            "os": ["ubuntu-latest"],
            "go": ["1.18.x"]
          }

      prepare:
        required: false
        default: ""
        type: string

      install_dukkha:
        required: false
        default: true
        type: boolean

    secrets:
      token:
        description: |-
          github token
        required: true

      # TODO: support cosign image signing in pipeline
      cosign-private-key:
        required: false

      cosign-private-key-password:
        required: false

env:
  GO111MODULE: "on"

defaults:
  run:
    shell: bash

jobs:
  build:
    strategy:
      fail-fast: ${{ inputs.fail-fast }}
      matrix: ${{ fromJson(inputs.matrix) }}
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
      with:
        # disable shallow-clone
        fetch-depth: 0

    - name: Install cosign
      uses: sigstore/cosign-installer@2.4.1

    - name: Install dukkha
      if: inputs.install_dukkha
      uses: arhat-dev/actions-setup-dukkha@master
      with:
        version: latest
        go-version: ${{ matrix.go }}

    - name: Install go
      if: ${{ ! inputs.install_dukkha }}
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go }}

    - name: Setup multi-arch support
      if: startsWith(matrix.os, 'ubuntu-')
      uses: dbhi/qus/action@main

    - name: Prepare image build
      run: |-
        ${{ inputs.prepare }}

    - name: Build images
      run: |-
        dukkha run workflow local run build-images

    - name: List podman images
      if: always() && startsWith(matrix.os, 'ubuntu-')
      run: |-
        podman images

    - name: List docker images
      if: always() && (startsWith(matrix.os, 'ubuntu-') || startsWith(matrix.os, 'windows-'))
      run: |-
        docker images

    - name: Push images
      env:
        GHCR_USER: ${{ github.actor }}
        GHCR_PASS: ${{ secrets.token }}
      run: |-
        dukkha run workflow local run push-images

    - name: Sign images
      env:
        GHCR_USER: ${{ github.actor }}
        GHCR_PASS: ${{ secrets.token }}

        COSIGN_PRIVATE_KEY: ${{ secrets.cosign-private-key }}
        COSIGN_PRIVATE_KEY_PASSWORD: ${{ secrets.cosign-private-key-password }}
      run: |-
        dukkha run workflow local run sign-images
