name: stylecheck

# yamllint disable-line rule:truthy
on:
  workflow_call:
    inputs:
      fail-fast:
        required: false
        type: boolean
        default: false

      matrix:
        required: false
        type: string
        default: |-
          {
            "os": ["ubuntu-latest"],
            "go": ["1.18.x"]
          }

      prepare:
        required: false
        default: ""
        type: string

env:
  GO111MODULE: "on"

defaults:
  run:
    shell: bash

jobs:
  stylecheck:
    strategy:
      fail-fast: ${{ inputs.fail-fast }}
      matrix: ${{ fromJson(inputs.matrix) }}
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
      with:
        # disable shallow-clone
        fetch-depth: 0

    - name: Install dukkha
      uses: arhat-dev/actions-setup-dukkha@master
      with:
        version: latest
        go-version: ${{ matrix.go }}

    - name: Prepare stylecheck
      run: |-
        ${{ inputs.prepare }}

    - name: Ensure files tidy
      run: |
        dukkha run workflow local run tidy

        if ! git diff --exit-code ; then
          echo "project files not tidy"
          exit 1
        fi

    - name: Lint
      run: |
        dukkha run workflow local run lint
