name: test

# yamllint disable-line rule:truthy
on:
  workflow_call:
    inputs:
      fail-fast:
        required: false
        type: boolean
        default: false

      matrix:
        required: false
        type: string
        default: |-
          {
            "os": ["ubuntu-latest"],
            "go": ["1.17.x"]
          }

      prepare:
        required: false
        default: ""
        type: string

    secrets:
      sonarqube-token:
        required: false

      sonarqube-server-url:
        required: false

env:
  GO111MODULE: "on"

defaults:
  run:
    shell: bash

jobs:
  test:
    strategy:
      fail-fast: ${{ inputs.fail-fast }}
      matrix: ${{ fromJson(inputs.matrix) }}
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
      with:
        # disable shallow-clone
        fetch-depth: 0

    - name: Install sonar-scanner
      if: startsWith(matrix.os, 'macos-')
      run: |-
        brew install sonar-scanner

    - name: Install dukkha
      uses: arhat-dev/actions-setup-dukkha@master
      with:
        version: latest
        go-version: ${{ matrix.go }}

    - name: Prepare test
      run: |-
        ${{ inputs.prepare }}

    - name: Test
      env:
        SONAR_TOKEN: ${{ secrets.sonarqube-token }}
        SONAR_HOST_URL: ${{ secrets.sonarqube-server-url }}
      run: |-
        dukkha run workflow local run test
