name: test

# yamllint disable-line rule:truthy
on:
  workflow_call:
    inputs:
      fail-fast:
        required: false
        type: boolean
        default: false

      matrix:
        required: false
        type: string
        default: |-
          {
            "os": ["ubuntu-latest"],
            "go": ["1.18.x"]
          }

      prepare:
        required: false
        default: ""
        type: string

      install_wine:
        required: false
        default: false
        type: boolean

      install_dukkha:
        required: false
        default: true
        type: boolean

    secrets:
      sonarqube-token:
        required: false

      sonarqube-server-url:
        required: false

env:
  GO111MODULE: "on"

defaults:
  run:
    shell: bash

jobs:
  test:
    strategy:
      fail-fast: ${{ inputs.fail-fast }}
      matrix: ${{ fromJson(inputs.matrix) }}
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
      with:
        # disable shallow-clone
        fetch-depth: 0

    - name: Add wine repo (ubuntu-20.04/latest)
      if: (startsWith(matrix.os, 'ubuntu-20.04') || startsWith(matrix.os, 'ubuntu-latest')) && inputs.install_wine
      run: |-
        wget -q https://download.opensuse.org/repositories/Emulators:/Wine:/Debian/xUbuntu_20.04/Release.key -O Release.key -O- | sudo apt-key add -
        sudo apt-add-repository 'deb https://download.opensuse.org/repositories/Emulators:/Wine:/Debian/xUbuntu_20.04/ ./'

        # https://github.com/actions/virtual-environments/issues/4589#issuecomment-1100899313
        sudo rm -f /etc/apt/sources.list.d/microsoft-prod.list
        sudo apt-get update
        sudo apt-get install -y --allow-downgrades libpcre2-8-0/focal libpcre2-16-0/focal libpcre2-32-0/focal libpcre2-posix2/focal

    - name: Add wine repo (ubuntu-18.04)
      if: startsWith(matrix.os, 'ubuntu-18.04') && inputs.install_wine
      run: |-
        wget -q https://download.opensuse.org/repositories/Emulators:/Wine:/Debian/xUbuntu_18.04/Release.key -O Release.key -O- | sudo apt-key add -
        sudo apt-add-repository 'deb https://download.opensuse.org/repositories/Emulators:/Wine:/Debian/xUbuntu_18.04/ ./'

    - name: Install wine (ubuntu)
      if: startsWith(matrix.os, 'ubuntu-') && inputs.install_wine
      run: |-
        export DEBIAN_FRONTEND=noninteractive
        sudo dpkg --add-architecture i386 || true
        sudo apt-get update

        # ref: https://github.com/uriparser/uriparser/blob/master/.github/workflows/build-and-test.yml
        source /etc/os-release

        # Get rid of packages installed from ppa:ondrej/php so that we will be able to install wine32:i386 without conflicts
        # (see issue https://github.com/actions/virtual-environments/issues/4589)
        # In detail we:
        #   1. Remove all packages that ppa:ondrej/php has but plain Ubuntu doesn't, e.g. everything PHP
        #   2. Revert (remaining) packages that ppa:ondrej/php and plain Ubuntu share, back to the plain Ubuntu version
        #   3. Assert that no packages from ppa:ondrej/php are left installed
        dpkg -l | grep '^ii' | fgrep deb.sury.org | awk '{print $2}' | grep '^php' \
          | xargs -r -t sudo apt-get remove --yes libpcre2-posix3 libzip4
        dpkg -l | grep '^ii' | fgrep deb.sury.org | awk '{print $2}' | sed "s,\$,/${UBUNTU_CODENAME}," \
            | xargs -r -t sudo apt-get install --yes --no-install-recommends --allow-downgrades -V
        ! dpkg -l | grep '^ii' | fgrep deb.sury.org

        sudo apt install -y aptitude
        sudo aptitude install -y --with-recommends winehq-stable
        echo "/opt/wine-staging/bin" >>"${GITHUB_PATH}"

        # sudo apt-get install -y --install-recommends winehq-staging
        # echo "/opt/wine-staging/bin" >>"${GITHUB_PATH}"

        wine64 --help
        wine --help

    - name: Install sonar-scanner (macos)
      if: startsWith(matrix.os, 'macos-')
      run: |-
        brew install sonar-scanner

    - name: Install wine (macos)
      if: startsWith(matrix.os, 'macos-') && inputs.install_wine
      run: |-
        brew install --cask wine-stable

    - name: Install dukkha
      if: inputs.install_dukkha
      uses: arhat-dev/actions-setup-dukkha@master
      with:
        version: latest
        go-version: ${{ matrix.go }}

    - name: Prepare test
      run: |-
        ${{ inputs.prepare }}

    - name: Test
      run: |-
        dukkha run workflow local run test

    - name: Report Test Result
      env:
        SONAR_TOKEN: ${{ secrets.sonarqube-token }}
        SONAR_HOST_URL: ${{ secrets.sonarqube-server-url }}
      run: |-
        dukkha run workflow local run report
